.jumbotron {
  padding-top: 6rem;
  background-color: #bdcdd6;
}

#about {
  background-color: #f3f4f5;
}
#projects {
  background-color: #bdcdd6;
}

#contact {
  background-color: #f3f4f5;
}

section {
  padding-top: 5rem;
}
